<div id="navContainer" class="d-flex flex-row justify-content-between align-items-center">
    <div id="navBrandLogo" class="ml-1  ml-sm-3">
        <img src="~/Content/Images/logob.30px.png" />
    </div>
    <div id="navBrandText" class="jose pt-1 mr-auto ml-1 ml-sm-3">
        CLINIC IN THE CLOUDS
    </div>
    <div id="mobileNavButton" class="mr-1 d-xl-none">
        <svg class="lnr lnr-menu" width="30px" height="32px"><use xlink:href="#lnr-menu"></use></svg>
    </div>@Html.Partial("~/Views/Shared/_NavDashPartialView.cshtml")</div>