<div id="cgModal" class="createGroupWrapper cgwrapper d-flex flex-column justify-content-center align-items-center">
    <div class="createGroupContainer d-flex flex-column justify-content-center align-items-center p-1">
        <div class="createGroupHeader noise-0d3 pl-4">
            <div>Create a NEW group with:</div>
        </div>
        <div class="createGroupContent">
            <div id="cgInvitee"></div>
        </div>
        <div class="createGroupFooter noise-a6c d-flex flex-row">
            <div class="createGroupButton createGroupNo">NO</div>
            <a id="cgYes" href="#" class="createGroupButton createGroupYes">YES</a>
        </div>
    </div>
</div>
